.servicesMain{

    width: 100%;
    height: auto;
    padding: 5% 10%;
    
    
    
}
.serviceRow{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;


}
.serviceitem{
 
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #c2acac;
    text-align: center;
    
}
.serviceImage img{
    width: 170px;
    height: 200px;

}
.serviceFooter{
    padding: 5%;
    display: flex;
    justify-content: space-between;
}
.serviceFooter input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #a82707;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid rgb(19, 207, 191);
}