#mainCoursoul{
    height: 500px;
}
#mainCoursoul>div>img{
    width:100%;
    height: 600px !important;
    object-fit: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
}
.aqkh{
    position: relative;
}
.carsoulParagraph{
    width: 30%;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 250px;
    color: black;

}

.head1 h1{
    font-size: 35px;

}
hr {
    width: 50%;
    margin-left: 0%;
    background-color: white;
  }
  .carsoulButton{
    width: 60%;
    height: 70px;

    text-align: center;
    align-items: center;
  }
  .carsoulButton a{
   
    width: 100%;
    line-height: 50px;
    border-radius: 33px 33px 33px 33px;
     font-size: 20px;  
   display: block;
   text-align: center;
   background: #383838;

   }
